# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main

pool:
  name: Azure Pipelines
  vmImage: 'windows-2022'
 
variables:
  buildConfiguration: 'Release'
 
steps:
task: UseDotNet@2
displayName: 'Use .NET Core 6'
inputs:
  version: 6.0.x

task: DotNetCoreCLI@2
displayName: Restore
inputs:
  command: restore
  projects: '*/.csproj'

task: DotNetCoreCLI@2
displayName: Build
inputs:
  projects: '*/.csproj'

task: DotNetCoreCLI@2
displayName: Publish
inputs:
  command: publish
  publishWebProjects: false
  projects: '*/.csproj'
  arguments: '--configuration release --output $(build.artifactstagingdirectory) /property:PublishWithAspNetCoreTargetManifest=false'
  zipAfterPublish: false

task: PublishBuildArtifacts@1
displayName: 'Publish Artifact'
inputs:
  ArtifactName: myproject
