<?xml version="1.0"?>
<configuration>
   <system.web>
      <globalization culture="en-US" uiCulture="en-US"/>
      <sessionState mode="Custom" customProvider="CoherenceSessionProvider"
         timeout="20">
         <providers>
            <add name="CoherenceSessionProvider"
               type="Tangosol.Web.CoherenceSessionStore, Coherence,
               Version=3.6.0.0, Culture=neutral,
               PublicKeyToken=0ADA89708FDF1F9A"/>
         </providers>
      </sessionState>
      <compilation debug="false" defaultLanguage="c#">
         <assemblies>
            <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral,
               PublicKeyToken=B77A5C561934E089"/>
            <add assembly="Coherence, Version=3.6.0.0, Culture=neutral,
               PublicKeyToken=0ADA89708FDF1F9A"/>
         </assemblies>
      </compilation>
      <authentication mode="Windows"/>
      <customErrors mode="Off"/>
   </system.web>
</configuration>
