@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Genpact's .net demo webapp</h1>
    <p>Worth checking <a href="https://docs.microsoft.com/aspnet/core">build Webapps with ASP.NET Core</a>.</p>
</div>
