name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish -c Release -o website
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: webapp
        path: website/**
        if-no-files-found: warn

  deploy: 
    runs-on: ubuntu-latest
    needs: build 
    steps:
    - name: Download a Build Artifact
      uses: actions/download-artifact@v2.1.0
      with:
        name: webapp
        path: webapp
    - name: Deploy web app
      uses: azure/webapps-deploy@v2
      with:
        app-name: GitHubApp-2381471012
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE  }}
        package: webapp
